<div class="container-detailed">
	<ol class="header">
		<li><h2>LAST ARTICLES</h2></li>
		<li class="article-date"><p>23.04.2024</p></li>
	</ol>
	<div class="image">
		<img src="https://images.pexels.com/photos/1028223/pexels-photo-1028223.jpeg" alt=""><div class="tag"><p>nature</p></div>
	</div>
	<ol class="content">
		<li class="article-title"><h3>“Aenean eleifend tristique arcu eget vestibulum.”</h3></li>
		<li class="article-brief"><p>Donec erat metus, pretium sit amet nil vitae, hendrerit efficitur felis. Vivamus vel dapibus arcu. Ut a nisi dolor. Donec mauris turpis, fringilla a luctus id, feugiat et quam. Vivamus at vehicula neque. Vestibulum vitae accumsan risus. Aenean volutpat maximus nibh, at feugiat erat aliquet vel. Maecenas ornare varius facilisis.</p></li>
		<li></li>
		<button>read more</button>
	</ol>
</div>
