<div class="container-detailed">
	<ol class="header">
		<li><h2>LAST ARTICLES</h2></li>
		<li class="article-date"><p>{{articleDate}}</p></li>
	</ol>
	<div class="image">
		<img src="{{articleImage}}" alt="" [routerLink]="['content', Id]"><div class="tag"><p>{{articleTags[0]}}</p></div>
	</div>
	<ol class="content" [routerLink]="['content', Id]">
		<li class="article-title"><h3>“{{articleTitle}}”</h3></li>
		<li class="article-brief"><p>{{articleDescription}}</p></li>
		<li></li>
		<button>read more</button>
	</ol>
</div>
