<ol class="article-list">
	<li><app-block-article
				articleDate="05.17.2024"
				articleImage="https://images.pexels.com/photos/1201179/pexels-photo-1201179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				articleTitle="Example article number one"
				[articleTags]="['travel']"
				Id="3"></app-block-article></li>
	<li><app-block-article
		articleDate="09.21.2024"
		articleImage="https://images.pexels.com/photos/15925238/pexels-photo-15925238/free-photo-of-person-sitting-at-a-table-on-a-restaurant-patio-in-japan.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		articleTitle="Example article number two"
		[articleTags]="['history']"
		Id="4"></app-block-article></li>
	<li><app-block-article
		articleDate="10.10.2024"
		articleImage="https://images.pexels.com/photos/3800126/pexels-photo-3800126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		articleTitle="Example article number three"
		[articleTags]="['mythology']"
		Id="5"></app-block-article></li>
	<li><app-block-article
		articleDate="03.01.2024"
		articleImage="https://images.pexels.com/photos/13510489/pexels-photo-13510489.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
		articleTitle="Example article number four"
		[articleTags]="['nature']"
		Id="6"></app-block-article></li>
</ol>
<div class="button"><button>more</button></div>
