/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Rufina:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	box-sizing: border-box;
}

body {
	background-color: #E2E2DA;
}
