<app-nav-bar></app-nav-bar>
<app-featured-post
	articleTitle="Placeholder articles: When to use them?"
	articleBrief="Still a non-descript Lorem Ipsum dolor sit amet."
	articleImage="https://images.pexels.com/photos/3084563/pexels-photo-3084563.jpeg"
	Id="1"></app-featured-post>
<app-featured-latest
	articleTitle="Advent Neue's most recent addition."
	articleDescription="Since I still have no example articles set-up, I'll just keep the Lorem Ipsum here: Donec erat metus, pretium sit amet nil vitae, hendrerit efficitur felis. Vivamus vel dapibus arcu. Ut a nisi dolor. Donec mauris turpis, fringilla a luctus id, feugiat et quam. Vivamus at vehicula neque."
	articleDate="09.15.2024"
	articleImage="https://images.pexels.com/photos/712473/pexels-photo-712473.jpeg"
	[articleTags]="['travel','history']"
	Id="2"></app-featured-latest>
<app-list-latest></app-list-latest>
<app-personal-curation
	articleImage="https://images.pexels.com/photos/3020210/pexels-photo-3020210.jpeg"
	articleDescription="Donec erat metus, pretium sit amet nil vitae, hendrerit efficitur felis. Vivamus vel dapibus arcu. Ut a nisi dolor. Donec mauris turpis, fringilla a luctus id, feugiat et quam. Vivamus at vehicula neque. Vestibulum vitae accumsan risus. Aenean volutpat maximus nibh, at feugiat erat aliquet vel. Maecenas ornare varius facilisis."
	[articleTags]="['history']"
	Id="7"></app-personal-curation>
<app-footer-bar></app-footer-bar>
